body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  margin: 0;
  padding: 0;
}

#left-side,
#right-side {
  width: 35%;
  height: 85%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#left-side {
  background-color: white;
}

#right-side {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 100%
  );
}

#right-side h1,
#right-side p {
  color: white;
  text-align: justify;
}

#right-side button {
  width: 50%;
  height: 9%;
}

#right-side > *,
#left-side > * {
  margin-top: 15px;
  margin-right: 0;
  margin-left: 0;
}

#right-side > h1,
#left-side > h1 {
  margin-bottom: 20px;
}

#left-side > input[type="text"],
#left-side > input[type="password"],
#left-side > button {
  width: 90%;
  height: 9%;
}

.social-btns {
  display: flex;
  justify-content: center;
}

.social-btns * {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.social-btns > * {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

input,
button {
  border: none;
  border-radius: 10px;
}

button {
  border-radius: 999px;
}

#signin-btn {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 100%
  );
  color: white;
}

#right-side button {
  background-color: rgba(255, 255, 255, 0.5);
}

body *:hover {
  transform: translateY(-1px);
  transition: 0.3s;
}

input:hover,
button:hover {
  background-color: rgb(232, 232, 232);
  transform: translateY(-3px);
  transition: 0.2s;
}

input:focus {
  outline-color: rgba(42, 123, 155, 1);
}

button:active {
  transform: scale(0.97);
  transition: 0.2s;
}
